<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicio7.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=BEYOND07;Initial Catalog=Northwind;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>