.table_bg {
        background-color: #000000;
}
.table_head{
        background-color: #DDDDDD;
        color: #000000;
}
.table_col_0{
        background-color: #FFFFFF;
        color: #000000;
}
.table_col_1{
        background-color: #EEEEEE;
        color: #000000;
}
