<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- El proveedor ADO.NET  -->
		<add key="PROVEEDOR_ADONET" value="System.Data.SqlClient" />
		<!-- La cadena de conexion -->
		<add key="CADENA_CONEXION" value="Data Source=.\SQLEXPRESS;
			DataBase=dce05_ejemplos_estrella1;Connect Timeout=30;Integrated Security=True"/>
	</appSettings>
</configuration>